<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="CommunityAssistConnectionString" connectionString="Data Source=THOR\SQLEXPRESS; initial catalog=CommunityAssist;user=DonorLogin; password=P@ssw0rd1" />
    <add name="CommunityAssistConnectionString2" connectionString="Data Source=THOR\SQLEXPRESS;Initial Catalog=CommunityAssist;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
